body {
  overflow-x: hidden;
}

nav {
  width:100% !important;
}

#img-profile {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-left: 12px;
}

.dropdown-toggle::after {
  background-color: transparent;
  border: 0 transparent;
}

.dropdown {
  margin-left: 25px;
}

.logo {
  width: 100px;
}

hr {
  display:none;
}

.no-display{
  display:none;
}

h1 {
  display: flex;
  align-items: center;
}

.plus {
  height: 40px;
  width: 40px;
  background-color: rgb(228, 29, 86);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.filter {
  margin-top: 25px;
}

.spanfilter {
  background-color: rgb(248, 249, 250);
  border-radius: 20px;
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
}

.enter {
  margin-top: 30px;
}

.review {
  margin-top: 50px;
}

.imgannounce {
  border-radius: 20px;
}

.info {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.announce {
  margin-right: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

.icona-utente {
  width: 30px;
}

.logo-img {
  width: 100px;
}

.bg {
  position: absolute !important;
  top: 40px !important;
  border: 1px solid #ff385c;
  background-color: white;
  z-index: 1000;
}

@media (max-width: 576px) {

  .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enter {
    margin-left: 30px;
    width: 370px;
  }

  .announce {
    margin-left: 55px;
  }

  .review {
    margin-left: 30px;
    width: 370px;
  }

  h1 {
    font-size: 40px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left:-23px;
    color: #ff385c;
  }

  .logo-img {
    width: 60px;
    margin-left:10px;
    margin-top:10px;
  }

  

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  #host {
    padding-left: 10px;
    font-weight: bold;
  }

  #globe {
    font-size: 35px;
    margin-left: 10px;

  }


  #img-profile {
    width: 35px;
    height: 35px;
    margin-left:-6px;
    margin-bottom:10px;
  }

  hr {
    color:#ff385c;
    display:block;
  }

  .no-display{
    display:inline;
  }
  .navbar-collapse{
    width:100%;
    border-left:none;
    border-right:none;
  }
 
  .dropdown-toggle {
    width:100px;
  }

  .explore {
    margin-left:20px;
  }

  .account {
    margin-left:20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {

 .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enter {
    margin-left: 20px;
  }

  .review {
    margin-left: 20px;
  }

  .announce {
    margin-left: 60px;
  }

  h1 {
    font-size: 40px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left:-23px;
    color: #ff385c;
  }

  .logo-img {
    width: 60px;
    margin-left:10px;
    margin-top:10px;
  }

  

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  #host {
    padding-left: 10px;
    font-weight: bold;
  }

  #globe {
    font-size: 35px;
    margin-left: 10px;

  }


  #img-profile {
    width: 35px;
    height: 35px;
    margin-left:-6px;
    margin-bottom:10px;
  }

  hr {
    color:#ff385c;
    display:block;
  }

  .no-display{
    display:inline;
  }
  .navbar-collapse{
    width:100%;
    border-left:none;
    border-right:none;
  }
 
  .dropdown-toggle {
    width:100px;
  }

  .explore {
    margin-left:20px;
  }

  .account {
    margin-left:20px;
  }
 
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left:-23px;
    color: #ff385c;
  }

  .logo-img {
    width: 60px;
    margin-left:10px;
    margin-top:10px;
  }

  

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  #host {
    padding-left: 10px;
    font-weight: bold;
  }

  #globe {
    font-size: 35px;
    margin-left: 10px;

  }


  #img-profile {
    width: 35px;
    height: 35px;
    margin-left:-6px;
    margin-bottom:10px;
  }

  hr {
    color:#ff385c;
    display:block;
  }

  .no-display{
    display:inline;
  }
 
 
}

@media (min-width: 768px) and (max-width: 992px) {

  .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .announce {
    margin-left: 50px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left:-23px;
    color: #ff385c;
  }

  .logo-img {
    width: 60px;
    margin-left:10px;
    margin-top:10px;
  }

  

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  #host {
    padding-left: 10px;
    font-weight: bold;
  }

  #globe {
    font-size: 35px;
    margin-left: 10px;

  }


  #img-profile {
    width: 35px;
    height: 35px;
    margin-left:-6px;
    margin-bottom:10px;
  }

  hr {
    color:#ff385c;
    display:block;
  }

  .no-display{
    display:inline;
  }
  .navbar-collapse{
    width:100%;
    border-left:none;
    border-right:none;
  }
 
  .dropdown-toggle {
    width:100px;
  }

  .explore {
    margin-left:20px;
  }

  .account {
    margin-left:20px;
  }
}

@media (min-width:992px) {


  .container {
    margin-top:100px;
  }

  .logo-img {
    width: 100px;
  }

  

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  #host {
    font-weight: normal;
    margin-right:20px;
  }

  #globe {
    font-size: 25px;
    padding:0;

  }


  #img-profile {
    width: 30px;
    height: 30px;
    margin:0;
   
  
  }



  .navbar-collapse{
    position: absolute;
    top:0 !important;
    width:100%;
    display:flex;
    border:none;

  }
 
  .dropdown-toggle{
    width:80px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}
