body {
  overflow-x: hidden;
}

nav {
  width:100%;
}

.logo {
  margin-left:10px;
}

.logo img {
  width: 100px;
}

h1 {
  display: flex;
  align-items: center;
}

.plus {
  height: 40px;
  width: 40px;
  background-color: rgb(228, 29, 86);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.filter {
  margin-top: 25px;
}

.spanfilter {
  background-color: rgb(248, 249, 250);
  border-radius: 20px;
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
}

.enter {
  margin-top: 30px;
}

.review {
  margin-top: 50px;
}

.imgannounce {
  border-radius: 20px;
}

.info {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.announce {
  margin-right: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}


.options ul {
  display:flex;
  list-style: none;
  gap:20px;
}

.options ul li {
  cursor: pointer;
}

.options ul li:hover {
  color: #ff385c;
}

.small {
 background-color: #ff385c;
}

.options:last-child {
  padding-right: 30px;
}

#large {
  display:block;
}

#small {
  display:none;
}



@media (max-width: 576px) {

  .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enter {
    margin-left: 30px;
    width: 370px;
  }

  .announce {
    margin-left: 55px;
  }

  .review {
    margin-left: 30px;
    width: 370px;
  }

  h1 {
    font-size: 40px;
  }

  #large {
    display:none;
  }

  #small{
    display:block;
    background-color: #ff385c;
    height:60px;
  }

  .options ul{
    gap:30px;
  }

  .logo {
    margin-left:0;
    margin-top:5px;
  }

  .options ul li:hover {
    color:white;
    cursor: pointer;
  }

  



}

@media (min-width: 576px) and (max-width: 768px) {

 .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enter {
    margin-left: 20px;
  }

  .review {
    margin-left: 20px;
  }

  .announce {
    margin-left: 60px;
  }

  h1 {
    font-size: 40px;
  }

  
  #large {
    display:none;
  }

  #small{
    display:block;
    background-color: #ff385c;
    height:60px;
  }

  .options ul{
    gap:30px;
  }

  .logo {
    margin-left:0;
    margin-top:5px;
  }

  .options ul li:hover {
    color:white;
    cursor: pointer;
  }






 

 
 
 
}

@media (min-width: 768px) and (max-width: 992px) {

  .container{
    margin-top:30px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .announce {
    margin-left: 50px;
  }

  
  #large {
    display:none;
  }

  #small{
    display:block;
    background-color: #ff385c;
    height:60px;
  }

  .options ul{
    gap:30px;
  }

  .logo {
    margin-left:0;
    margin-top:5px;
  }

  .options ul li:hover {
    color:white;
    cursor: pointer;
  }



  

  




  
}

@media (min-width:992px) {


  .container {
    margin-top:40px;
  }

 
}
