body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Imposta l'altezza del main per occupare l'intera altezza della finestra */
  width: 100%;
}

.container {
  margin-top: 40px;
  /* Assicurati che il contenuto non superi la larghezza massima desiderata */
  max-width: 800px; /* Ad esempio, puoi impostare una larghezza massima di 800px */
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100px;
}

.logo {
  padding-left: 40px;
  padding-top: 10px;
}

.options {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.options:last-child {
  padding-right: 30px;
}

.dropdown img {
  width: 30px;
}

.rounded-main {
  border-radius: 20px 0 0 20px;
}
.rounded-image1 {
  border-radius: 0px 20px 0px 0px;
}

.rounded-image2 {
  border-radius: 0px 0px 20px 0px;
}

#review {
  height: 200px;
}

#review::placeholder {
  position: absolute;
  top: 5px;
  /* Sostituisci con il colore che desideri */
  color: #999;
}

.comment-image {
  width: 60px;
}

.ombra {
  width: 400px;
  height: 300px;
  margin-left: 150px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.262);
}

#check-in {
  padding: 10px;
  width: 175px;
  border-radius: 10px 0 0 0;
  border-right: none;
}

#check-out {
  padding: 10px;
  width: 175px;
  border-radius: 0 10px 0 0;
}

#guests {
  width: 342px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.position {
  position: relative;
  right: 20px;
}

.red {
  color: #ff385c;
}

.bg-red {
  background-color: #ff385c;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 342px;
  font-weight: bold;
  color: white;
}

.bg-red:hover {
  background-color: white;
  color: #ff385c;
  border: 1px solid #ff385c;
}

.logo-img {
  width: 100px;
}

.main-img {
  cursor: pointer;
  height: 100%;
}

.side-img {
  width: 274px;
  height: 213px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.side-img:last-child {
  margin-right: 0;
  margin-left: 0 !important;
}

.margin-end {
  padding-right: 90px;
}

.navbar-toggler-icon {
  color: black !important;
}

.dropdown-item:hover {
  background-color: #ff385c !important;
  color: white !important;
}

#host:hover {
  color: #ff385c !important;
}

#globe:hover {
  color: #ff385c !important;
}

#guests:focus {
  color: #ff385c;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 340px;
  border-top: 0px;
}

#preferiti {
  cursor: pointer;
}

/*MEDIA QUERIES*/

/*Small devices (landscape phones)*/
@media (max-width: 576px) {
  .container {
    margin-top: 30px;
  }

  .ombra {
    margin-top: 10px;
    margin-left: 30px;
  }

  .margin-end {
    position: absolute;
    right: -70px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: -12px;
    color: #ff385c;
  }

  #logo {
    margin-top: 10px;
    margin-left: 8px;
    width: 60px;
    margin-bottom: 10px;
  }

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }

  .carousel {
    display: none;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    margin-top: 30px;
  }

  .main-img {
    border-radius: 0px; /* Rimuove il bordo arrotondato */
  }

  .side-img {
    width: 50%;
    margin-top: 10px;
    border-radius: 0;
  }

  .ombra {
    margin-top: 20px;
    margin-left: 70px;
  }

  .margin-end {
    position: absolute;
    right: -70px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: -12px;
    color: #ff385c;
  }

  #logo {
    margin-top: 10px;
    margin-left: 8px;
    width: 60px;
    margin-bottom: 10px;
  }

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }
}

/*Large devices*/
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    margin-top: 30px;
  }

  .main-img {
    border-radius: 0px; /* Rimuove il bordo arrotondato */
  }

  .side-img {
    width: 50%;
    margin-top: 10px;
    border-radius: 0;
  }

  .ombra {
    margin-top: 10px;
    margin-left: 30px;
  }

  .margin-end {
    position: absolute;
    right: -40px;
  }

  nav {
    height: 40px;
    background-color: #ff385c;
  }
  .navbar-toggler-icon {
    background-color: #ff385c;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: -12px;
    color: #ff385c;
  }

  #logo {
    margin-top: 10px;
    margin-left: 8px;
    width: 60px;
    margin-bottom: 10px;
  }

  #host:hover {
    color: #ff385c !important;
  }

  #globe:hover {
    color: #ff385c !important;
  }

  .bi.bi-list {
    display: none;
  }
}
